sudo: false
language: node_js

node_js:
  - '14'
  - '12'
  - '10'
  - '8'

branches:
 except:
   - /^v\d+\.\d+\.\d+$/

before_script:
  - npm prune
script:
  - npm run build
  - npm run test:cover
after_success:
  - cat coverage/lcov.info | ./node_modules/.bin/coveralls
  - ./node_modules/.bin/travis-deploy-once && ./node_modules/.bin/semantic-release
