sudo: false
language: node_js

cache:
  directories:
    - node_modules

node_js:
  - '11'
  - '10'
  - '9'
  - '8'
  - '7'
  - '6'

branches:
 except:
   - /^v\d+\.\d+\.\d+$/
before_script:
  - npm prune
script:
  - npm run build
  - npm run test:cover
after_success:
  - npm run report-coverage
  - ./node_modules/.bin/travis-deploy-once && ./node_modules/.bin/semantic-release
